body {
  font-family: 'Verdana', sans-serif;
  background-color: #add8e6;
  color: #f8f8ff;
}
#title, #description {
  text-align: center;
}
fieldset {
  border: none;
  padding: 10px;
}
fieldset:not(:nth-last-of-type(1)) {
  border-bottom: solid #778899 2px;
}
input, textarea, select {
  width: 100%;
}
input[type="submit"] {
  display: block;
  width: 30%;
  margin: 0 auto;
  padding: 5px 0px;
  color: #778899;
  background-color:  #f8f8ff;
  border: none;
  font-size: 18px;
}
textarea {
  margin-top: 10px;
}
.question, #name, #number, #email {
  font-size: 17px;
}
label {
  display: block;
}
.inline {
  vertical-align: middle;
  width: unset;
  margin: 0.5em;
  }
